body{
    margin: 0;
    padding: 0;
    background-image: url('photo_2024-05-05_00-20-12.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul{
    list-style: none;
    background: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: ;
}
.navbar a:hover{
    background: #353640;
}
.center{
    font-size: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.center h1 {
    margin: 10px 0; /* Adjust the margin to decrease space between h1 tags */
}
